/** grid sheet **/

* {
	box-sizing: border-box;
}


.column {
	flex: 33%;
	max-width: 33%;
}

/** using a flex wrap allows for the images to stack nicely on top of each other **/
.row {
	display: flexbox;
	display: flex;
	flex-wrap: wrap;
}

.cafe {
	width: 150vh;
}

