/** style sheet **/

img {
	width: 100%;
	margin: 5px;
	padding: .5px 5px;
}

h1 {
	text-align: left;
	font-family: 'Young Serif', serif;
	font-size: 5vh;
	margin: 1rem;
	padding: 1em;
}

body {
	background-image: linear-gradient(to bottom, lightblue, lavender );
}

.container-fluid {
	width: 100%;
	background-color: lavender;
}

p {
	font-family: montserrat;
	font-size: 20px;
	margin: 0, auto;
	padding: 3vmax;
	float: left;

}

