/** style sheet **/
/** 
img {
	width: 100%;
	margin: 5px;
	padding: .5px 5px;
}

h1 {
	text-align: left;
	font-family: montserrat;
	margin: 1em;
	padding: 10px;
}

body {
	background-image: linear-gradient(to bottom, lightblue, lavender );
}

.container-fluid {
	width: 100%;
	background-color: lavender;
}

**/

* {
	padding: 20px;
	margin: 0, auto;
}

body {
	font-family: montserrat;
}

a {
	margin: 0, auto;
	padding: 20px;
	color: black;
}

.button {
	background-color: lightblue;
}

.button2{
	background-color: green;
}

.button3{
	background-color: yellow;
}

